
<form #ref="ngForm" (ngSubmit)="sendData(ref)">
    <div class="main-container">
        <div class="container">
            <div class="text-center">
                
            <img class="img" src="https://media.gettyimages.com/vectors/cricket-logo-vector-id467029165" alt="" width="100px" height="100px"> 
            <br>
            <h2>SIGN IN</h2>
            <input class="input pb-0" type="text" name="username" id="un" placeholder="Username" ngModel required #ref1="ngModel" >
            <div *ngIf="ref1.touched && ref1.invalid" class="mt-0 pt-0 mb-3 text-left ml-5" style="color: rgb(255, 0, 0);">* Username Required</div>

            <input class="input pb-0" type="password" name="password" id="pw" placeholder="Password" pattern=".*\d" ngModel required #ref2="ngModel" >
            <div *ngIf="ref2.invalid && ref2.touched" class="mt-0 pt-0 mb-3 text-left ml-5" style="color: rgb(255, 0, 0);">* Password Required </div>
            <!-- <input class="input" type="password" name="password" id="pw" placeholder="Password" ngModel>  -->
            <br>  
                      <input type="checkbox" name="remember me" id="rm"> Remember me
                      <br>
    <button class="button mt-3" type="submit">Submit</button>
    </div>
        </div>
    </div>
    
</form>
