p
{
    padding: 20px;
    color: black;
    font-size: 15px;
}

.container
{
    background-color: rgb(39, 38, 38);
    text-align: center;
    color: white;
    padding: 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top: 1px solid white;
}

h1{
    font-size: 25px;
}

h2{
    font-weight: bold;
    font-size: 25px;
    margin-top: 40px;
}

h3{
    font-weight: bold;
    font-size: 15px;
}

li{
    color: rgb(180, 12, 12);
}
