<div class="container">
    <h1>About CricHeroes</h1>
    <br>
    <h3>Made In India By The Passionate Cricketers For The Passionate Cricketers Of The World!

    </h3>
</div>


<p><b>We are changing the way grassroots cricket (the second most popular sport) is played in the world.

CricHeroes started as a simple scorekeeping app for grassroots cricketers to keep their scores. A 10x better way to do it compared to existing alternatives.

Gradually it became a network, recognising cricketers for their talent and making them better with performance analytics.

The big idea is to connect every stakeholder (businesses and professionals) of cricket with each other and capture all transactions happening on the network.

We exist primarily for three reasons; We want to be a platform for millions of grassroots cricketers…

<li>to showcase their talent</li>
<li>get recognition for their achievements,</li>
<li>and become better cricketers.</li>
<h2>How it all started?</h2>
We started to solve our own pain point as a cricketer. After every session, anywhere in the world, players do discuss the game. Sometimes these discussions become heated because cricketers do take current form, performance, etc very seriously. But unfortunately, most of these discussions happen without any data as either the scoring is not done or is done on the paper-based scoresheet. Now it is impossible to aggregate data and get meaningful insights from scores recorded on paper. To solve this, we started using existing scoring apps but we were not happy with their UX and a lot of things were missing.

At the same time, we did a little survey in our city and found that this is the problem for every cricketer. That's when the founder sat and designed a business plan for CricHeroes. He pitched it to his friends and family and secured seed funding to build the first version.</b></p>
