<div class="container pt-4">

    <div class="container a">   
        <div class="card customCard" style="width: 350px; height: 490px;">
              <div class="card-header">
                <h5>World Cricket Championship 3</h5>
            </div>
            <div class="card-body">
                <div class="card-image"> <img src="https://play-lh.googleusercontent.com/PqkW3ykPBzR07GGucQaPPN0WUFucP7Mto2UGodD8IatQhVKnRmuudCDmP2mw-yHpCSs=w412-h220-rw" alt="" width="325px" height="200px"> </div>
            </div>
            <div class="card-footer">
                <ul class="list-unstyled">
                    <li><b>Developer(s):</b> Nextwave Multimedia</li>
                    <li><b>Publisher(s):</b> Nextwave Multimedia</li>
                    <li><b>Platform(s):</b> iOS,Android,Windows</li>
                    <li><b>Release:</b> 2020</li>
                    <li><b>Genre(s):</b> Sports Cricket</li>
                    <li><b>Mode(s):</b> Single player <br> Multiplayer</li>
                </ul>
            </div>
        </div>
    </div>
</div>    
<p>WCC3 is the fourth instalment of the World Cricket Championship franchise. The game was announced in November 2019 and the beta version was made available in May 2020. The game was officially launched in September 2020. It includes professional commentary from various former cricketers in six languages, Matthew Hayden and Isa Guha for English, Aakash Chopra and Anjum Chopra for Hindi, Venkatapathy Raju for Telugu, Deep Dasgupta for Bengali, Vijay Bharadwaj for Kannada and Abhinav Mukund for Tamil.[9] The game also won Google Play Store's Best of 2020 award in the users' choice category.[</p>
    
