.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container
{
    background-color:rgb(53, 52, 52);
   padding: 15px;
   width: 25%;
   margin:50px;
   border-radius: 20px;
   color: white;
}

.input{
    width: 70%;
    padding: 2px 4px;
    margin-bottom: 10px;
}

.button{
    margin-top: 10px;
    padding: 6px 20px;
    border-radius: 7px;
    border: 0;
    font-weight: bold;
}
