.container
{
    background-color:rgb(53, 52, 52);
   padding: 15px;
   width: 30%;
   margin:50px;
   border-radius: 20px;
   color: white;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input{
    width: 70%;
    padding: 2px;
    margin-bottom: 8px;
}

textarea{
    width: 70%;
    padding: 2px;
}

p{
    text-align: center ;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



