<div class="container py-4">
    <div class="container a">
        <div class="card customCard" style="width: 350px; height: 490px;">
            <div class="card-header">
                <h5>World Cricket Championship</h5>
            </div>
            <div class="card-body pt-2 ">
                <div class="card-image"> <img
                        src="https://i.gadgets360cdn.com/large/wcc_3_career_mode_1593782888329.jpg" alt="" width="310px"
                        height="200px"> </div>
            </div>
            <div class="card-footer">
                <ul class="list-unstyled">
                    <li><b>Developer(s):</b> Nextwave Multimedia</li>
                    <li><b>Publisher(s):</b> Nextwave Multimedia</li>
                    <li><b>Platform(s):</b> iOS,Android,Windows</li>
                    <li><b>Release:</b> 2011</li>
                    <li><b>Genre(s):</b> Sports Cricket</li>
                    <li><b>Mode(s):</b> Single player <br> Multiplayer</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<p>World Cricket Championship (WCC) is a series of 3D cricket mobile games developed by Nextwave Multimedia. WCC
    is the first game of the WCC franchise which was launched and released in 2011. The updated versions WCC2,
    WCC Rivals and WCC3 were also released under the WCC franchise. Within the month of March in 2020, WCC was
    ranked as the no. 1 cricket mobile game franchise in the world with 110 million downloads worldwide and with
    approximately 11 million monthly active users.[1][2] It has reported an average of over 2.1 million daily
    active users and is one of the most downloaded cricket game franchises in the world</p>